body{
    background-image: url("background.jpg");
}

#search{
    width: 300px;
    height: 110px;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
}
#test{
    border-radius: 50px;
}
button{
    position:relative;
    left:50px;
}
.aligning{
    position: relative;
    left: 36%;
    margin-top: 20px;
}
#imagebutton{
    position: relative;
    width: 25%;
    left: 38%;
    margin-bottom: 15px;
    border-radius: 50px;
}
#result{
    margin-top: 50px;
}
.bookCards{
    position: relative;
    left: 5%;
    border-radius: 10%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(191,99,0,1) 100%);
    border: solid;
    width: 25%;
    height: 600px;
    margin-top: 100px;
    float: left;
    padding: 1%;
    margin-right: 150px;
}

.userContainer{
    display: flex;
    position: absolute;
    left: 72%;
    top: 15px;
    border-radius: 5px;
    height: 150px;
    width: 25%;
    background-color: white;
}

.userDetails{
    position: relative;
    margin-top:15px;
    display: flex;
    flex-direction: column;
}

.userDetails span{
    font-size: 18px;
    margin-bottom: 20px;
}

.detailsImg{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

.detailsImg img{
    height: 30px;
    margin-bottom: 20px;
}

.detailsImg img:nth-child(1){
    height: 30px;
    margin-bottom: 16px;
}

.detailsImg img:nth-child(2){
    height: 30px;
    margin-bottom: 18px;
}

.userImg{
    margin: auto;
    margin-left: 65px;
    height: 125px;
    border-radius: 15px;
}